/***************************************/
/*             PAGE LAYOUT             */
/***************************************/

html,
body {
    background-color: #fefefe;
    color: #333;
    font-family: "Georgia";
    font-size: 16px;
}

a {
    color: #800;
    font-weight: bold;
    text-decoration: none;
}

a.active,
a:hover {
    background-color: #800;
    color: #fff;
}

ul {
    list-style-position: inside;
    margin: 0;
    padding: 0;
    line-height: 1.2;
}

li {
    margin: 0;
}

h2 {
    margin: 10px 0;
    padding: 0px;
}

h3 {
    background-color: #eee;
    margin: 0 0 10px 0;
    padding: 5px 10px;
}
/***************************************/
/*            FOLDER SECTION           */
/***************************************/

#folder ul {
    list-style-type: none;
    margin: 0px 0px;
    padding-left: 10px;
}

#folder li {
    margin: 0;
}

#folder li a {
    padding: 2px;
}

#folder .header,
#folder .header .header {
    background: #eeeeee;
}

#folder .header li {
    background: #ffffff;
}

#folder .close {
    color: #666;
    text-align: center;
}
/***************************************/
/*            FILE SECTION             */
/***************************************/

#file b {
    display: block;
}

#file p {
    margin-left: 10px;
}

#file li {
    margin: 10px 10px;
}

.passage {
    list-style-type: none;
}

#file li li {
    list-style-type: disc;
    margin: 10px 15px;
}