/***************************************/
/*             PAGE LAYOUT             */
/***************************************/

html {
  margin: 0;
}

body {
  background-color: #fefefe;
  color: #333;
  font-family: "Georgia";
  font-size: 16px;
  margin: 0;
	padding: 10px;
	line-height: 1.2;
	font-weight: normal;
}

a {
  color: #800;
  font-weight: bold;
	text-decoration: none;
}

a.active,
a:hover {
  background-color: #800;
  color: #fff;
  display: inline-block;
}

ul {
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
}

h2 {
  margin: 10px 0;
  padding: 0px;
}

h3 {
  background-color: #eee;
  margin: 0 0 10px 0;
  padding: 5px 10px;
}


/***************************************/
/*            HEADER SECTION           */
/***************************************/

.small {
  font-size: smaller;
}

.small a {
  font-size: smaller;
  padding: 0px 2px;
}

.container{
  margin-top: 20px;
}


/***************************************/
/*            FOLDER SECTION           */
/***************************************/

#folder {
  display: inline-block;
  margin-right: 20px;
  width: 175px;
}

#folder ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#folder li {
  margin: 0;
}

#folder .header,
#folder .header .header {
  background: #eeeeee;
}

#folder .header li {
  background: #ffffff;
}

#folder li a {
  display: block;
  padding: 5px;
}

/***************************************/
/*            FILE SECTION             */
/***************************************/

#file {
  display: inline-block;
  width: calc(100% - 200px);
  vertical-align: top;
}

/* Not sure this will work on all browsers, but
  it does look better */
#file b {
  display: block;
}

#file li {
  list-style-type: none;
  margin: 20px 10px;
}

#file li li {
  list-style-type: disc;
  margin: 10px 15px;
}

/***************************************/
/*           MOBILE OVERRIDES          */
/***************************************/

/* Custom, iPhone Retina */
@media only screen and (max-width : 500px) {
  #folder {
    margin-bottom: 30px;
  }

  #file, #folder {
    display: block;
    width: 100%;
  }
}
